body {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

.campaign__inner {
  padding-top: 38px;
  padding-top: 2.375rem;
  padding-bottom: 73px;
  padding-bottom: 4.5625rem;
}
@media screen and (min-width: 768px) {
  .campaign__inner {
    padding-top: 6.875rem;
    max-width: none;
    margin: 0 auto;
  }
}

.campaign__title {
  text-align: center;
  font-size: 32px;
  font-size: 2rem;
  font-family: "Gotu", sans-serif;
  line-height: 40px;
  line-height: 2.5rem;
}
@media screen and (min-width: 768px) {
  .campaign__title {
    font-size: 2.5rem;
  }
}

.section-title__h2 {
  font-size: 32px;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .section-title__h2 {
    font-size: 2.5rem;
  }
}

.subtitle {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 18px;
  line-height: 1.125rem;
  text-align: center;
}

.section-title__subtitle {
  padding-top: 17px;
  padding-top: 1.0625rem;
  padding-bottom: 27px;
  padding-bottom: 1.6875rem;
}
@media screen and (min-width: 768px) {
  .section-title__subtitle {
    padding-bottom: 4.6875rem;
  }
}

.campaign__subtitle {
  color: #408F95;
  padding-top: 8px;
  padding-top: 0.5rem;
  padding-bottom: 25px;
  padding-bottom: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .campaign__subtitle {
    padding-bottom: 2.4375rem;
  }
}

.campaign-price__old {
  position: relative;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 20px;
  line-height: 1.25rem;
  font-family: "Lato", sans-serif;
}
@media screen and (min-width: 768px) {
  .campaign-price__old {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.campaign-price__old:after {
  content: "";
  position: absolute;
  border-bottom: solid 3px #C94800;
  border-bottom: solid 0.1875rem #C94800;
  top: 50%;
  left: 4px;
  left: 0.25rem;
  width: 78px;
  width: 4.875rem;
  height: 3px;
  height: 0.1875rem;
}
@media screen and (min-width: 768px) {
  .campaign-price__old:after {
    top: 44%;
    left: 0.5rem;
  }
}

.campaign-price__new {
  color: #408F95;
  padding-left: 15px;
  padding-left: 0.9375rem;
  font-size: 32px;
  font-size: 2rem;
  line-height: 32px;
  line-height: 2rem;
  font-family: "Lato", sans-serif;
}
@media screen and (min-width: 768px) {
  .campaign-price__new {
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding-top: 0.3125rem;
    padding-left: 1.375rem;
  }
}

.campaign__sentence {
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .campaign__sentence {
    padding-top: 0.875rem;
    padding-left: 0;
    font-size: 1rem;
    font-weight: 700;
  }
}

.campaign__cards {
  padding-left: 0;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
}

.campaign__card {
  width: 280px !important;
  width: 17.5rem !important;
  -webkit-box-shadow: 0.125rem 0.125rem 0.625rem 0 rgba(0, 0, 0, .25) !important;
          box-shadow: 0.125rem 0.125rem 0.625rem 0 rgba(0, 0, 0, .25) !important;
}
@media screen and (min-width: 768px) {
  .campaign__card {
    width: 20.8125rem !important;
  }
}

.section-subtitle {
  color: #408F95;
  font-size: 12px;
  font-size: 0.75rem;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 18px;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .section-subtitle {
    color: #fff;
  }
}

.campaign__button {
  margin: 20px auto 0;
  margin: 1.25rem auto 0;
}
@media screen and (min-width: 768px) {
  .campaign__button {
    margin: 3.6875rem auto 0;
  }
}

.card__campaign-price-box {
  padding-top: 8px;
  padding-top: 0.5rem;
  padding-left: 18px;
  padding-left: 1.125rem;
  padding-right: 15px;
  padding-right: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .card__campaign-price-box {
    padding-top: 0rem;
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    min-width: 16.5rem;
  }
}

.card__title_campaign {
  font-family: "Noto Sans JP", sans;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  line-height: 1.5rem;
  padding-top: 5px;
  padding-top: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .card__title_campaign {
    padding-top: 0.3125rem;
  }
}

.card__tag-h3 {
  font-size: 12px;
  font-size: 0.75rem;
}

.campaign h2 {
  font-size: 16px;
  font-size: 1rem;
}
/*# sourceMappingURL=campaign.css.map */
