body {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

#top_low-page {
  position: relative;
  width: 100%;
  height: 450px;
  height: 28.125rem;
  background-position: right 35% bottom 45%;
  background-size: cover;
  background-image: url(../images/campaign/campaign-top.png);
}
@media screen and (min-width: 768px) {
  #top_low-page {
    height: 34.375rem;
  }
}

.top-low-page__inner {
  top: 62% !important;
}

.campaign-page__cards {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 0;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  gap: 40px;
  gap: 2.5rem;
}
@media screen and (min-width: 768px) {
  .campaign-page__cards {
    grid-template-columns: 1fr 1fr;
  }
}

.campaign-page__card {
  -webkit-box-shadow: 0.125rem 0.125rem 0.625rem 0 rgba(0, 0, 0, .25) !important;
          box-shadow: 0.125rem 0.125rem 0.625rem 0 rgba(0, 0, 0, .25) !important;
  margin-right: 0;
  margin-bottom: 35px;
  margin-bottom: 2.1875rem;
}
@media screen and (min-width: 768px) {
  .campaign-page__card {
    margin-bottom: 2.8125rem;
  }
}

.campaign-page-price__old {
  padding-left: 18px;
  padding-left: 1.125rem;
}

.campaign-page-price__new {
  padding-left: 42px;
  padding-left: 2.625rem;
}

.campaign-page-card__campaign-price-box {
  padding-left: 0;
  padding-right: 0;
  width: 68%;
  margin: 0 auto;
}

.campaign-card__word {
  padding: 17px 16px 20px;
  padding: 1.0625rem 1rem 1.25rem;
}

.top-low-page__inner {
  letter-spacing: 0;
}

@media screen and (min-width: 768px) {
  .campaign-page__inner {
    width: 75%;
    margin: 9.375rem auto 0;
  }
}
.top-low-page__title {
  letter-spacing: 0 !important;
}

.link__items {
  display: grid;
}
@media screen and (min-width: 768px) {
  .link__items {
    margin-bottom: 2.5rem;
  }
}

.link__item {
  padding-top: 6px;
  padding-top: 0.375rem;
  padding-bottom: 6px;
  padding-bottom: 0.375rem;
}

.campaign-page-card__word {
  padding: 24px 24px;
  padding: 1.5rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .campaign-page-card__word {
    padding: 1.5rem 1.5rem 2.375rem;
  }
}

@media screen and (min-width: 768px) {
  .campaign-page-card__title {
    font-size: 1.5rem;
    padding-top: 0.75rem;
  }
}
.campaign-page__sentence {
  padding-top: 26px;
  padding-top: 1.625rem;
  padding-bottom: 5px;
  padding-bottom: 0.3125rem;
}

.campaign-page__text {
  line-height: 24px;
  line-height: 1.5rem;
  font-size: 16px;
  font-size: 1rem;
  padding-top: 20px;
  padding-top: 1.25rem;
}

.campaign-page__date {
  text-align: center;
  display: none;
}
@media screen and (min-width: 768px) {
  .campaign-page__date {
    padding-top: 1.875rem;
    display: block;
  }
}

.campaign-page__button {
  margin-top: 44px;
  margin-top: 2.75rem;
}

.campaign-page__button2 {
  margin-top: 22px;
  margin-top: 1.375rem;
}

.link__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 768px) {
  .link__items {
    grid-template-columns: 10.125rem 10.125rem 10.125rem 10.125rem;
    gap: 2rem;
  }
}

.link__item {
  border: solid 1px #408F95;
  border: solid 0.0625rem #408F95;
  text-align: center;
}
/*# sourceMappingURL=top_low-page.css.map */
