@use "global" as *;

.swiper2-slide:first-child{
  margin-left: rem(15);

  @include mq("md") {
    margin-left: rem(180);
  }}

/* 画像のサイズ調整 */
.swiper-slide img {
  height: auto;
  width: 100%;
}

@include mq("md") {
.swiper{
  padding-bottom: rem(10)!important;
}}

.swiper-button-prev{
  position: absolute;
  display: none;
  width: rem(80)!important;
  height: rem(80)!important;
  background-image: url(../images/top-page/campaign/arrow_left.png);
  background-size: cover;

  @include mq("md") {
    width: rem(80)!important;
    height: rem(80)!important;
    top: rem(22)!important;
    right: rem(340)!important;
    left: auto!important;
}}

.swiper-button-next{
  display: none;
  width: rem(80)!important;
  height: rem(80)!important;

  @include mq("md") {
  top: rem(22)!important;
  right: rem(180)!important;
  left: auto!important;
}}

.swiper-button-next, .swiper-button-prev{
  color: transparent!important;
}

.swiper-button-next:after{
  content: "";
  position: absolute;
  width: rem(80);
  height: rem(80);
  background-image: url(../images/top-page/campaign/arrow_right.png);
  background-size: cover;
}

.swiper2{
  padding-bottom: rem(20)!important;
  overflow: hidden;
  position: relative;
}

.swiper-button-prev, .swiper-button-next{
  display: none!important;

  @include mq("md") {
    display: block!important;
  }}