body {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

#price {
  background-color: #DDF0F1;
}

.price__inner {
  position: relative;
  padding: 78px 0 86px;
  padding: 4.875rem 0 5.375rem;
  max-width: 345px;
  max-width: 21.5625rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .price__inner {
    padding: 6.25rem 0 6.375rem;
    max-width: 67.3125rem;
  }
}

.price__bg {
  display: none;
}
@media screen and (min-width: 768px) {
  .price__bg {
    position: absolute;
    bottom: 3.5625rem;
    left: -5.125rem;
    display: block;
    width: 27.3125rem;
    height: 12.5625rem;
  }
}

@media screen and (min-width: 768px) {
  .price__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.price__table {
  padding-top: 39.5px;
  padding-top: 2.46875rem;
}
@media screen and (min-width: 768px) {
  .price__table {
    padding-top: 0;
  }
}

.table-box {
  padding-top: 1px;
  padding-top: 0.0625rem;
}
@media screen and (min-width: 768px) {
  .table-box {
    width: 45.6%;
  }
}

.price-title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  line-height: 1.5rem;
  padding-bottom: 4px;
  padding-bottom: 0.25rem;
  border-bottom: solid 1px #408F95;
  border-bottom: solid 0.0625rem #408F95;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 24px;
  line-height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .row {
    font-size: 0.875rem;
  }
}

.price__row {
  padding-top: 7.8px;
  padding-top: 0.4875rem;
}

.price__button {
  margin: 41px auto 0;
  margin: 2.5625rem auto 0;
}
@media screen and (min-width: 768px) {
  .price__button {
    margin: 5.25rem auto 0;
  }
}

.price__image_desktop {
  width: 46%;
}

.price__subtitle {
  padding-top: 8px;
  padding-top: 0.5rem;
  padding-bottom: 25px;
  padding-bottom: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .price__subtitle {
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
  }
}

.price__course {
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .price__course {
    font-size: 1rem;
  }
}

.price__yen {
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .price__yen {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .rows {
    padding-bottom: 2.4375rem;
  }
}
.price__image_mobile {
  display: block;
}
@media screen and (min-width: 768px) {
  .price__image_mobile {
    display: none;
  }
}

.price__image_desktop {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .price__image_desktop {
    display: block;
  }
}

.price__box {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .price__box {
    width: 45.5%;
  }
}

.price-title__h3 {
  font-size: 16px;
  font-size: 1rem;
}
/*# sourceMappingURL=price.css.map */
