@use "global" as *;

.contact__inner{
  position: relative;
  padding-bottom: 0;
  margin: 0;
  text-align: center;
  width: 100%;

  @include mq("md") {
    display: flex;
    padding: rem(75) 0 0;
    margin: 0 auto;
    max-width: rem(1080);
    box-shadow: rem(4) rem(4) rem(10) 0 rgba(0, 0, 0, .25);
  }}

#contact:before{
  content:"";
  position: absolute;
  top: rem(-27);
  right: rem(15);
  width: rem(109);
  height: rem(50);
  background-image: url(../images/top-page/contact/contact.png);
  background-size: cover;

  @include mq("md") {
    top: rem(-48);
    right: calc(50% - min(48.7vw, 42rem));
    width: rem(301);
    height: rem(138);
  }}

.totop{
  position: fixed;
  bottom: rem(15);
  right: rem(15);
  width: rem(48);
  height: rem(48);
  background-image: url(../images/top-page/contact/totop.png);
  background-size: cover;
  z-index: 99;

  @include mq("md") {
    width: rem(80);
    height: rem(80);
    bottom: rem(24);
    right: rem(20);
  }}

.contact__image-box{
  margin: 0 rem(40) rem(15);
  padding-bottom: rem(4);
  border-bottom: solid 0.0625rem #408F95;

  @include mq("md") {
    padding-bottom: rem(8);
    margin: 0 0 rem(24)0;
  }}

.contact__image{
  width: rem(174);
  margin: 0 auto;

  @include mq("md") {
    width: rem(200);
  }}

.contact__address{
  margin: 0 rem(10) rem(16);
  font-family: "Noto Sans JP", sans-serif;
  font-size: rem(16);
  line-height: 1.75;

  @include mq("md") {
    border-top: none;
    margin: 0 0 rem(14);
    width: 39%;
    text-align: left;
  }}

.contact__map{
  width: rem(295);
  height: rem(160);
  margin: 0 auto;

  @include mq("md") {
    margin: 0;
    margin: 00;
    width: 62%;
    height: rem(150);
  }}

.content__title{
  font-family: $third-font-family;
  font-size: rem(80);
  line-height: .75;
  font-size: 2rem;
  text-align: center;
}

.contact__button{
  margin: 0 auto;
}

.contact__subtitle{
  margin-bottom: rem(8);
  color: $blue;
}

.contact__sentence{
  color: $blue;
  margin-bottom: rem(35);
  font-size: rem(14);

  @include mq("md") {
    margin-bottom: rem(33);
    text-align: center;
  }}

.contact__area2{
  margin-top: rem(35);
  width: 100%;
  text-align: center;

  @include mq("md") {
    text-align: left;
    width: 47%;
  }}

.contact__box{
  display: block;

  @include mq("md") {
    display: flex;
  }}

  .contact__area1{
    position: relative;
    margin-bottom: rem(48);

    @include mq("md") {
      width: 53%;
      border-right: solid rem(1) #408F95;
      padding-right: rem(82);
      padding-left: rem(50);
      margin-bottom: rem(80);
    }}

  .contact__area1:after{
    // content: "";
    position: absolute;
    right: rem(-32);
    width: rem(1);
    height: 100%;
    top: 0;
    border-right: solid rem(1) #000;
  }

  .contact__h2{
    font-size: rem(80);
    margin-bottom: rem(5);
  }

  .map{
    width: 100%;
    aspect-ratio: 273 / 148;
  
    @include mq("md") {
        aspect-ratio: 295 / 160;
    }}

    .contact__area2 {
      margin-bottom: rem(5);
    
      @include mq("md") {
        padding-right: rem(31);
    }}