@use "global" as *;

.gallery__inner{
  margin: 0 auto;
  max-width: rem(1080);
}

.gallery__image-area{
  display: grid;
  gap: rem(8);
  grid-template-areas: "side1 sub1""side1 sub2""sub3 side2""sub4 side2";
  grid-template-columns: rem(492) rem(88) rem(492);
  grid-template-rows: rem(369) rem(369) rem(369) rem(369);
}

.gallery__image-box1{
  grid-area: side1;
  background-image: url(../images/top-page/price/price2.png);
  background-size: cover;
}

.gallery__image-box2{
  // grid-area: sub1;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url(../images/top-page/price/price2.png);
  background-size: cover;
}

.gallery__image-box3{
  grid-area: sub2;
  background-image: url(../images/top-page/price/price2.png);
  background-size: cover;
}

.gallery__image-box4{
  grid-area: sub3;
  background-image: url(../images/top-page/price/price2.png);
  background-size: cover;
}

.gallery__image-box5{
  grid-area: sub4;
  background-image: url(../images/top-page/price/price2.png);
  background-size: cover;
}

.gallery__image-box6{
  grid-area: side2;
  background-image: url(../images/top-page/price/price2.png);
  background-size: cover;
}

