@use "global" as *;

.section-title{
  font-size: rem(32);
  font-family: $third-font-family;
  line-height: 1.25;
  text-align: center;

  @include mq("md") {
    font-size: rem(40);
  }}

// .subtitle {
//   font-family: $second-font-family;
// }

.title__subtitle{
  padding-bottom: rem(24);
}

.title_blue{
  color: $blue;
}

.title_blue2{
  color: #408F95;

  @include mq("md") {
    color: #DDF0F1;
  }}

.section-title__h2{
  font-size: rem(32);
  margin-bottom: rem(5);

  @include mq("md") {
    font-size: rem(40);
    color: #0D2936;
  }}