@use "global" as *;

header{
  z-index: 20;
}

.screen.active{
  z-index: 8;
}

header.active{
  z-index: 9;
}

.about__word{
  z-index: 1;
}

.campaign__button{
  z-index: 5;
}

.common-butto{
  z-index: 1;
}

.common-button::before{
  z-index: 0;
}

.common-button::after{
  z-index: -5;
}

header.fixed{
  z-index: 9;
}

div.colorbox div.color{
  z-index: 2;
}

.top__inner{
  z-index: 2;
}